{% extends "base.html" %}
    {% block content %}

    <h2 class="my-5">These are the Notes</h2>

    <div class ="row row-cols3 g-2">
        {% for note in notes %}
        <div class="col">
            <div class="p-6 border">
                <a href="{% url 'notes.detail' pk=note.id %}" class="text-dark text-decoration-non">
                    <h4>{{note.title}}</h4></a>
                {{note.text|truncatechars:10}}

            </div>

        </div>
        {% endfor %}
    </div>
    
    {% endblock %}
